scipy >=0.18.1 # anaconda
numpy >=1.11.2 # anaconda
matplotlib >=1.5.1 # anaconda
tqdm >=4.8.4 # anaconda
colorama # so tqdm works well in windows
ase >=3.9.1 # anaconda
ruamel_yaml # anaconda
h5py >=2.6 # anaconda
numba
lmfit

# only for tests
pytest >=3.0.3 # anaconda
pytest-cov # coverage of tests
pytest-mock # mock tests
python-coveralls # sends info to coveralls after travis test
python-xdist # xdist
pytest-catchlog # check logs
flake8
mypy