ase >=3.9.1 # pip
matplotlib >=1.5.1 # anaconda
numpy >=1.11.2 # anaconda
pytest >=3.0.3 # anaconda, only for tests
pytest-cov
scipy >=0.18.1 # anaconda
tqdm >=4.8.4 # pip
PyYAML >=3.12 # anaconda
h5py >=2.6 # anaconda
