[MESSAGES CONTROL]
# E1101 numpy erros
# C0103 invalid name (using caps)
# W0511 TODO gives a warning
# C0326 spaces around keyword assignment are ok when types is given
disable=E1101,C0103,W0511,C0326