# settings file
# USE SPACES AND NOT TABS

version: 1 # mandatory, only 1 is supported at the moment

# mandatory section
lattice:
# all fields here are mandatory
    name: bNaYF4_simple
    N_uc: 50

    # concentration
    S_conc: 0.0
    A_conc: 0.3

    # unit cell
    # distances in Angstrom
    a: 5.9738
    b: 5.9738
    c: 3.5297
    # angles in degree
    alpha: 90
    beta: 90
    gamma: 120

    # the number is also ok for the spacegroup
    spacegroup: P-6

    # info about sites.
    # If there's only one site, use:
    # sites_pos: [0, 0, 0]
    # sites_occ: 1
    sites_pos: [[0, 0, 0], [2/3, 1/3, 1/2]]
    sites_occ: [1, 1/2]

    # optional
    # maximum distance of interaction for normal ET and for cooperative
    # if not present, both default to infinite
    d_max: 100.0
    # it's strongly advised to keep this number low,
    # the number of coop interactions is very large (~num_atoms^3)
    d_max_coop: 50

# mandatory section
states:
# all fields here are mandatory,
# add any label if necessary
# i.e.: just "sensitizer_ion_label: label" on a line
# but don't delete them.
# If you set the sensitizer concentration to zero,
# they will be ignored in all calculations
    sensitizer_ion_label: Yb
    sensitizer_states_labels: [GS, ES]
    activator_ion_label: Tm
    activator_states_labels: [GS, ES1, ES2]


# mandatory section
excitations:
# the excitation label can be any text
# the t_pulse value is only mandatory for the dynamics
# at least one excitation must be present and active
    ESA:
        active: True
        power_dens: 1e6
        t_pulse: 5e-9
        process: [Tm(GS) -> Tm(ES1), Tm(ES1) -> Tm(ES2)]
        degeneracy: [0, 0]
        pump_rate: [1e-3, 1e-3]


# mandatory section
sensitizer_decay:
# lifetimes in s
    ES: 2.5e-3

# mandatory section
activator_decay:
# lifetimes in s
    ES1: 1e-3
    ES2: 1e-6


power_dependence: [1e0, 1e6, 7]